<div xmlns:th="http://www.w3.org/1999/xhtml">
	<div style="font-family:calibri,sans-serif; font-size:15px;">
		Hello [[${Custom_DisplayName}]],<br />
		<br />
		You are receiving this email because you made a request to setup the password for your [[${ProductName}]] account.
		If you do not wish to setup your password or did not request a password setup, please ignore this message or
		report this incident to our Support team at [[${ProductSupportToEmail}]][[${Custom_FormattedSupportPhone}]].
		<br />
		<br />
		To create a new password, click or copy-and-paste the following link into your browser:<br />
		<a th:href="@{${ProductBaseUrl} + '/AuthenticationRecovery/SetupPassword?rh=' + ${Custom_RecoveryHash}+ '&uh=' + ${Custom_UserHash}}">
			[[${ProductBaseUrl}]]/AuthenticationRecovery/SetupPassword?rh=[[${Custom_RecoveryHash}]]&uh=[[${Custom_UserHash}]]</a><br />
		<span style="font-weight:bold;">Note: This link will expire after 30 minutes</span><br />
		<br />
		Thank you,<br />
		<br />
		[[${ProductCompanyName}]]<br />
		[[${ProductSupportFromEmail}]]<br />
		<a th:href="@{${ProductLoginUrl}}">[[${ProductLoginUrl}]]</a><br />
		<br />
		Do not reply to this email.  This is an automated system message.<br />
		<br />
	</div>
</div>
