<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<br>
<center>
  <table id="templateContainer" style="border: 1px solid #dddddd; background-color: #ffffff; width: 95%; max-width: 600px;" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="border-collapse: collapse;" align="center" valign="top">
          <table id="templateHeader" style="background-color: #ffffff; border-bottom: 0px none; width: 100%;" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="headerContent" style="border-collapse: collapse; color: #202020; font-family: Arial; font-size: 34px; font-weight: bold; line-height: 100%; padding: 0; text-align: center; vertical-align: middle;">
                  <br><img src="http://www2.smarsh.com/l/9442/2012-08-15/7jkv2/9442/59181/smarshlogo.png" style="max-width: 600px; border: 0px none; height: auto; line-height: 100%; outline: medium none; text-decoration: none; vertical-align: middle;" id="headerImage campaign-icon" alt="Smarsh logo" title="Smarsh logo" height="55" align="middle" width="198">
                  </td>
              </tr>
            </tbody>
          </table>
          </td>
      </tr>
      <tr>
        <td style="border-collapse: collapse;" align="center" valign="top">
          <table style="width: 100%;" id="templateBody" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td class="bodyContent" style="border-collapse: collapse; background-color: #ffffff;" valign="top">
                  <table style="width: 100%;" border="0" cellpadding="20" cellspacing="0">
                    <tbody>
                      <tr>
                        <td style="border-collapse: collapse;" valign="top"><div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                          <p><strong><u>Activation Required</u></strong><br>
                            <br>
                            Hello [[${username}]],<br>
                            
<br>[[${firstname}]] [[${lastname}]],
   In accordance with your company policy, you are  required to activate an archiving application for <em>each</em> social media account you have. Please activate <em>all</em> account(s) below, allowing Smarsh, your company's archiving provider, to archive content from each network.<strong>This email is unique to you, so please do not forward or share.</strong><br></p>
                                                      
                         <div><p><table width="100%" border="1" bordercolor="#0076B8" cellpadding="0" cellspacing="0"><td style="padding: 15px; background-color:#E1E1E1">
                           <p>
                            
                            <p>
                                <strong><a th:href="@{${link}}">>Click here</a></strong>
                            </p>
                          

                           
              </p></td><td style="padding: 15px; background-color:#0076B8; width: 55px;"><div style="color: #FFFFFF; font-family: Arial; font-size: 10px;">ACTIVATE</div></td></table></p></div>
                        </div>
<div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;"></div>
                          <div style="color: #505050; font-family: Arial; font-size: 14px; line-height: 150%; text-align: left;">
                            <BR><hr><p style="font-size:10px;"><strong>IMPORTANT NOTICE:</strong>&nbsp;When you  &ldquo;connect&rdquo; your social media account(s) to the Smarsh service,&nbsp;your  connected&nbsp;account activity will be monitored and retained by our service  on behalf of your organization and will be available for review by your  organization and/or an auditing entity for purposes of ensuring compliance with  industry regulatory requirements.</p>
                          <p style="font-size:10px;"><strong>By connecting your social media account(s) to Smarsh, you  affirm: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong></p>
                          <ol>
                            <li style="font-size:10px;">
                              <p style="font-size:10px;"> Your consent to have  your connected account activity monitored, moderated, and retained; and<br>
                              </p>
                            </li>
                            <li style="font-size:10px;">
                              <p style="font-size:10px;">That you understand  that such monitoring and retention will include any personal activity conducted  through such connected accounts, regardless of whether you access these  accounts using&nbsp;your own or work equipment or resources.&nbsp; </p>
                            </li>
                            <li style="font-size:10px;">
                              <p style="font-size:10px;">You may revoke this  consent at any time by unlinking your account.</p>
                            </li>
                          </ol>
                          <p>
                          </div></td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
              </tr>
            </tbody>
          </table>
          </td>
      </tr>
      <tr>
        <td style="border-collapse: collapse;" align="center" valign="top">
          <table id="templateFooter" style="background-color: #ffffff; border-top: 0px none; width: 100%;" border="0" cellpadding="10" cellspacing="0">
            <tbody>
              <tr>
                <td class="footerContent" style="border-collapse: collapse;" valign="top">
                  <table style="width: 100%;" border="0" cellpadding="10" cellspacing="0">
                    <tbody>
                      <tr style="background-color: #f4f4f4;">
                        <td style="border-collapse: collapse;" valign="top" width="350"><div style="color: #707070; font-family: Arial; font-size: 9px; line-height: 125%; text-align: left;"><span style="font-size: 10px">Phone 1-866-SMARSH-1<br>
                          Copyright © 2015, All rights reserved.</span>
<div style="color: #707070; font-family: Arial; font-size: 12px; line-height: 125%; text-align: left;"></div>
                        </div></td>
                        <td id="bottomtable" style="border-collapse: collapse;" valign="top" width="190"><div style="color: #707070; font-family: Arial; font-size: 10px; line-height: 125%; text-align: left;">Smarsh, Inc.<br>
                          851 SW 6th Avenue Ste. 800<br>
                        Portland, OR 97204</div></td>
                      </tr>
                    </tbody>
                  </table>
                 </td>
              </tr>
            </tbody>
          </table>
          </td>
      </tr>
    </tbody>
  </table>
</center>
</body>
</html>
